@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@400;700;900&family=Fira+Code:wght@400;500&display=swap');

$font_main: 'Inter', sans-serif;
$font_title: 'Montserrat', sans-serif;
$font_mono: 'Fira Code', monospace;
