main {
    padding-left: 102px;
    width: 100%;
    min-height: 100vh;
    background: $dark_bg;

    > section {
        display: none;
        width: 100%;
        min-height: 100vh;
        padding: 80px 40px;
        position: relative;
        opacity: 0;
        transition: opacity 0.4s ease;

        &.active {
            display: block;
            opacity: 1;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        &:not(#home) {
            padding-top: 64px;
        }

        &.active {
            display: block;
        }

        header.has-bg {
            position: relative;
            display: inline-flex;
            margin-bottom: 2rem;

            img {
                display: none; // Removed old background images for cleaner look
            }
        }

        header.custom {
            position: relative;
            text-align: center;
            margin-bottom: 42px;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: $secondary;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
            }

            h2 {
                display: inline-block;
                padding: 0 24px;
                background: $dark_bg;
            }
        }
    }
}