h1,
h2,
h4,
h5,
h6 {
    font-family: $font_title;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-family: $font_main;
    font-size: 1.125rem;
    font-weight: 500;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

p {
    font-family: $font_main;
    line-height: 1.7;
    color: $text_muted;
}

body {
    background: $dark_bg;
    font-family: $font_main;
    color: $text_main;
}

* {
    box-sizing: border-box;
}
